img {

    width: 90px;
    
    height: 90px;
    
    float: left;
    
    }
    
    #idCard {
    display: block;

    margin-left: auto;

    margin-right: auto;
    
    border: 5px solid black;

    border-radius: 35px;

    background-color: brown;
    
    height: 14em;
    
    width: 25em;

    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;

    
    }

    body {
        background-color: #C0B1AE;
        text-align: center
        }